/* Footer */
.landingpageFooter {
  height: 40vh;
}

.landingpageFooter .footerNavOne {
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 45%;
  color: #4835c0;
}

.landingpageFooter .footerNavOne ul {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0;
  border-bottom: 3px solid #4835c0;
}
.landingpageFooter .footerNavOne ul li {
  justify-content: space-around;
  align-self: center;
  margin: 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.footerLogo {
  font-size: 48px;
}

.footerNavTwo {
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 45%;
  color: #4835c0;
}

.landingpageFooter .footerNavTwo ul {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0;
}
.landingpageFooter .footerNavTwo ul li {
  justify-content: space-around;
  align-self: center;
  margin: 0 20px;
  font-size: 32px;
  font-weight: bold;
}
.footerIcon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footerIcon .footer1,
.footer2 {
  margin-top: -100px;
  height: 200px;
}
